/* Estilos generales */
body {
    /*font-family: Arial, sans-serif;*/
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f0f0f0; /* Gris claro de fondo */
    color: #333; /* Texto principal en gris oscuro */
}

/* Estilos del header */
header {
    position: relative;
    text-align: center;
}

.header-image img {
    width: 100%;
    max-height: 300px; 
    object-fit: cover; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #2980b9; 
    padding: 10px;   
}

nav li:hover  {
    background-color: #cbe6f3; 
    
}

nav li {
    margin: 0 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff; /* Texto en blanco */
    transition: color 0.3s ease; /* Efecto de transición de color */
}

/* Estilo para el menú desplegable */
nav .dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #2980b9; 
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.submenu li {
    margin: 8px 0;
}

.submenu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease; /* Efecto de transición de color */
}

/* Estilos de los botones en el header */
.header-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.search-button, .register-button {
    background-color: #333;; 
    color: #fff; /* Texto en blanco */
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Efecto de transición de color de fondo */
}

.search-button:hover, .register-button:hover  {
    background-color: #649fc7; 
}
/* Estructura del main */
main {
    
    display: flex;
     

}


/* Estructura del main */
main {
    grid-area: main;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 20px;
    }


/* Estilos para la sección de películas de estreno */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff; /* Blanco */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(196, 111, 111, 0.1); /* Sombra ligera */
}

h2 {
    color: #333; /* Texto en gris oscuro */
}



/* Estilos para el formulario */
.registro {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color: #333;
  }
  
  .registro h3 { 
    text-align: center;
    color: #333;
  }
  
  .registro label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .registro input,
  .registro select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .registro button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: rgb(87, 83, 83);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .registro button:hover {
    background-color: #0056b3;
  }

 body {
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 10px auto 20px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 /* Estilo para los div con la clase "card" */
 .card {
    width: 20%;
    margin-bottom: 20px;
    margin-right: 10px; /* Espacio entre las tarjetas */
    margin-left: 10px; /* Espacio entre las tarjetas */
    
}

/* Estilo para las imágenes dentro de los div */
.card img {
    width: 100%; /* Tamaño deseado para las imágenes */
    border: 2px solid #333; /* Borde alrededor de las imágenes */
    border-radius: 10px; /* Esquinas redondeadas */
    background: #0056b3;
    padding: 10px;
    max-width: 750px;
    height: auto;
   
    
}

.contenedor .card {
	text-align: center;
}

.contenedor .card .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .card .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}



  .fondo {
    background-image: url("imagenes/fondo_opaco.jpeg");
    background-size: cover;
    
    color: white;
  }
  
  .fondo h2,h1 {
    color: #f9f9f9;
  }

 
footer {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    /* width: 97%; */
    background-color: #2980b9;
    color: #f0f0f0;
    padding: 20px;
    overflow-y: auto;

}

.contenidoAll {

    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* background-color: #aa119d; */

}

.contenidos {

    display: flex;
    justify-content: space-between;

}

.empresa {
    /* background-color: brown; */
    max-width: 400px;
}

.empresa h1 {
    font-size: 20px;
}

.empresa p {
    font-size: 14px;
    color: #e4dede;
    margin-top: 20px;
}

.social-links {
    /* background-color: rgb(45, 124, 30); */
    max-width: 400px;

}

.social-links h1 {
    font-size: 20px;
}

.fila img {

    margin-top: 20px;
    display: flex;
 
}

.fila img {
    width: 34px;
    height: 34px;
}

.fila label {
    margin-top: 10px;/para que quede alineado/
    margin-left: 20px;

}

.contactos {
    /* background-color: rgb(194, 197, 23); */
    max-width: 400px;
}

.contactos h1 {

    font-size: 20px;
}

.fila2 {

    margin-top: 20px;
    display: flex;
}

.fila2 img {
    width: 34px;
    height: 34px;

}

.fila2 label {
    margin-top: 10px;/para que quede alineado/
     margin-left: 20px;

}

.contenidocopy {

    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-top: 1px solid rgb(231, 226, 226);
}




  @media (max-width: 600px) {
    /* Reorganizar elementos */
    
    .cars img {
        width: 90%;
        
        
    }   
      
   
    .cars {
        display: block; /* Cambia de "inline-block" a "block" para una disposición vertical */
        text-align: center;
        margin: 20px 0;
        
    }

    main {
        display: block; /* Cambia de "flex" a "block" para una disposición vertical */
    }

    p {
        overflow:auto; 
    }
    iframe {
        width: 80%; 
        height: 150px; 
    }

    .video-container{
        width: 90%; 
        height: 200px; 
    }
    
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* Cambiar el tamaño de fuente */
    p {
        font-size: 14px;
    }
    header {
        text-align: left; /* Alinea el texto a la izquierda */
    }
  
   
    nav ul {
        justify-content: space-between; /* Espaciado entre elementos del menú */
        padding: 5px; 
    }

    nav li {
        margin: 0 5px; 
    }
    h2 {
        font-size: 12px; /* Reducir el tamaño de la fuente */
        margin: 5px 0; /* Reducir el espacio entre las palabras */
    }
    .cars:hover img {
        transform: scale(1); /* Devuelve el tamaño a su valor normal */
        transition: none; /* Elimina la transición */
    }
    .controls button {
        
        width: 45%;
        height: 40px;
        
        
    }
    .language-select {
        width: 45%;
        height: 40px;
        
        
    }
}




@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Tus estilos específicos para pantallas de iPad en modo horizontal */
    .cars img {
        width: 90%;
   
    .cars {
        display: block; /* Cambia de "inline-block" a "block" para una disposición vertical */
        text-align: center;
        margin: 20px 0;
    }

    main {
        display: block; /* Cambia de "flex" a "block" para una disposición vertical */
    }
}}





  



  
   
  
 
  